/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 15 juil. 2017, 13:17:50
    Author     : hugues
*/

.icon-burger {
    width: 25px;
    margin-top: -8px;
    margin-left: -5px;
}