<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Burger&Co{% endblock %}</title>
        {% block stylesheets %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" type="text/css" href="{{asset('vendor/bootstrap.min.css')}}"/>
        <link rel="stylesheet" type="text/css" href="{{asset('css/news_css/main.css')}}"/>
         {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}
        <script type="text/javascript" src="{{asset('vendor/jquery.min.js')}}"></script>
        {% endblock %}
        {% block scriptForm %}{% endblock %}
            
    </body>
</html>
